/*common shared style*/
*{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3;
}
.text-orang{
    color: #ff6f0a;
}
.btn-orang{
    background-color: #ff6f0a;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}


/*========nav section start========*/
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-logo{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
.navbar ul{
    display: flex;
    align-items: center;
   
}
.navbar li{
    list-style: none;
    margin-right: 50px;
}
.navbar li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
/*========nav section end========*/
/*========hero section start========*/

.hero-section{
    padding: 30px 20px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.hero-contant{
    max-height: 500px;
}
.hero-greeting{
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-title{
    color: #181818;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
   
}
.hero-description{
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hero-section .profile-img{
    width: 500x;
}
.hero-btn-right{
    margin-left: 15px;
}
.btn-orang:hover{
    background-color: #fff;
    color:#ff6f0a;
    border: 1px solid #ff6f0a;
}
/*========hero section end========*/


/*========about section start========*/
main{
    max-width: 1040px;
    margin: 0 auto;
}

.about-section{
    padding: 100px;
    background-color: #FFF8F3;
    margin: 130px 0;
    
 
}
.about-description{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}
.info-description{
    color:#312d2d;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; 
    margin-top: 4px;
}
/*========about section end========*/


/*========what i do section start========*/
.what-i-do-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   padding: 30px 150px;
}
.what-i-do-section{
    margin-bottom: 100px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
   
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skill-description{
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}

/*========what i do section end========*/


/*========resome section start========*/
.resome-content{
    display: flex;
    gap: 10px;
}

/*========resome section end========*/

